<div ng-controller='OrdersController'>
    <h2>Add a new order</h2>
    <form>
        <label for="name">Customer</label>
        <select ng-model="newOrder.customerName" ng-options="customer.name for customer in customers"></select>
        <br/>
        <label for="orderAmmount">Order</label>
        <select ng-model="newOrder.ammount" ng-options="n for n in [] | RangeFilter:1:10"></select>
        <select ng-model="newOrder.product" ng-options="product.name for product in products | FieldGreaterThanFilter:'stock':0"></select>
        <input type="submit" value="Order" ng-click="addOrder()" />
        <span class="error">{{addOrderError}}</span>
    </form>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="text" name="searchName" placeholder="search name..." ng-model="searchName" />
            </td>
        </tr>
        <tr>
            <th>Customer Name</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="order in orders | orderBy:dateCreated:true| filter:searchName">
            <td>
                <span ng-bind="order.customerName" />
            </td>
            <td>
                <span ng-bind="order.product" />
            </td>
            <td class="middle">
                <span ng-bind="order.ammount" />
            </td>
            <td>
                <span ng-bind="order.dateCreated | date:'mediumDate'" />
            </td>
        </tr>
    </table>
</div>
